.Data{
  .weatherData{
    h3{
      display:inline-block;
      margin: 10px 5px;
    }
    .weather{
      border-top:2px solid #000;
      h4{
        display: inline-block;
        margin: 10px 5px;
      }
    }
  }
  .error{
    color: red;
    font-weight: bold;
  }
}