.App{
  position: absolute;
  width: 60%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 5px 1px #000;
  border-radius: 2%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  background-color: #00000065;
  color: #fff;
}